#main_wrapper
{
  height:600px;
  width:600px;
  margin: 0px auto;
  padding:0px auto;
  text-align:center;

}
.button
{
	padding:3px 3px 3px 3px;
	border:2px solid black;
	background-color:#CCCCCC;
}
a
{
	text-decoration:none;
	display:inline-block;
	float:left;
}
.button:hover
{
	background-color:#FFFFFF;
	color:black;
	padding:3px 3px 3px 3px;
	border:2px solid black;
}
#form_table
{
  height: 500px auto;
  width: 500px;
  border:2px solid black;
  padding: 20px 20px 20px 20px;
  margin: 5px 5px 5px 5px;
}

